[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
bidder = "JtMSXSCDbJ6ZDLwMFLXLmLZWLD1VGwzxUsA57nefbdr"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/Documents/Privat/Solana/Bidder/program-deployer.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
